* {
  /* border: 1px black solid; */
  box-sizing: content-box;
}

body {
  background-color: #191919;
  font-family: Arial, Helvetica, sans-serif;
  color: #eceff1;
}

button {
  font-weight: 600;
}

.add-btn {
  margin: 20px;
  padding: 5px;
  color: #005005;
  display: block;
}

.info-div {
  margin: 0 20px;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.title-row {
  display: flex;
  margin-bottom: 15px;
  padding-left: 7px
}

.title-row div {
  margin-right: 7px;
  padding: 15px;
  background-color: teal;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 900;
}

.book-row {
  display: flex;
  background-color: #333533;
  margin-bottom: 15px;
  padding: 7px;
  border-radius: 15px;
}

.book-row div {
  margin-right: 7px;
  padding: 15px;
  background-color: #d05353;
  border-radius: 15px;
}

.del-btn {
  color: #bb002f;
  margin-right: 7px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #455a64;
  color: #eceff1;
  padding: 15px 30px;
  border-radius: 15px;
}

.show {
  display: block;
}

.modal div {
  margin: 15px 0;
}

div.submit {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.text label {
  display: block;
  margin-bottom: 5px;
}